body{
    background-color: rgba(255, 80, 235, 0.395); 
    text-align: center;
 
}
h1 {
    color: rgba(44, 29, 98, 0.954);

}
p { 
    color: rgb(46, 0, 139);
}
#h1-1{
    color: rgb(72, 9, 121);
}
li.list{
    color: rgb(13, 80, 135);
}